@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Supermercado+One&display=swap');

body {
    background-color: rgb(12, 27, 60);
    font-family: "Pixelify Sans", "Supermercado One", sans-serif;
    color: rgb(188, 48, 77);
    text-align: center;
}

.headerContent {
    display: flex;
    align-items: center;
    gap: 3px;
    justify-content: center;
}

header{
    font-size: 30px;
}

#logo{
    width: 120px;
    height: auto;
}

#startMenu {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    min-height: 50vh;
}
#selectMode{
    font-size: 25px;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.btnMode{
    border: none;
    border-radius: 10px;
    width: 340px;
    height: 40px;
    font-family: "Supermercado One", sans-serif;
}

#btnSolo {
    background-color: rgb(54, 104, 177);
    color: rgb(189, 221, 244);
}

#btnSolo:hover {
    background-color: rgb(39, 142, 221);
    cursor: pointer;
}

#btnVsComputer{
    background-color: rgb(26, 85, 175);
    color: rgb(189, 221, 244);

}

#btnVsComputer:hover{
    background-color: rgb(34, 107, 217);
    cursor: pointer;
}

#btnQuit {
    background-color: rgb(188, 48, 77);
    color: rgb(189, 221, 244);
    border: none;
    border-radius: 10px;
    height: 25px;
    width: 70px;
    font-family: "Supermercado One", sans-serif;
    position: absolute;
    top:55px;
    right: 15px;

}

#btnQuit:hover {
    background-color: rgb(235, 60, 77);
    cursor: pointer;
}

#btnHint {
    background-color: rgb(188, 48, 77);
    color: rgb(189, 221, 244);
    border: none;
    border-radius: 10px;
    height: 25px;
    width: 70px;
    font-family: "Supermercado One", sans-serif;
    position: absolute;
    top:55px;
    left: 15px;
}

#timer{
    background-color: rgb(188, 48, 77);
    color: rgb(189, 221, 244);
    border: none;
    border-radius: 10px;
    height: 25px;
    width: 70px;
    font-family: "Supermercado One", sans-serif;
    position: absolute;
    top:15px;
    left: 15px;


}

#btnHint:hover {
    background-color: rgb(235, 60, 77);
    cursor: pointer;
}




#keyboard {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.keyElement {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.key {
  width: 35px;
  background-color: rgb(244, 151, 22);
  border: 3px solid rgb(254, 191, 0);
  border-radius: 5px;
  font-size: 45px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin: 3px;
}

.key:hover {
    background-color: rgb(252, 194, 6);
    cursor: pointer;
}

#wordContainer {
    width: auto;
    height: 55px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.cell {
    border: 2px rgb(39, 142, 221) solid;
    border-radius: 5px;
    box-shadow: 0 3px #bdddf462;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 8px;
    height: 40px;
    width: 35px;
}

#scramble {
    color: rgb(193, 211, 223);
    font-size: 45px;
}